<div class="conteiner_Exp-Ed-HyS-Proy"><!---Esto es el HARD SKILLS--->
    
    <div class="conteiner_new">
        <h2>HARD Skills</h2>
        <button type="button" class="btn btn-outline-success" routerLink="/newHabH">New!</button>
    </div>
    
    <h3 class="conteiner_Titulos">Hard Skills</h3>
    
    <ul>
        <div>  
            <li *ngFor="let habilidadesHard of habilidadesHardList">
                <div class="conteiner_barras">
                    <div style=" display: flex; flex-direction: row">
                        <h4>{{habilidadesHard.tipo}}</h4>
                        <progress min="0" max="100" [value]="habilidadesHard.puntaje"></progress>
                    </div>
                    <button type="button" class="btn btn-outline-danger" (click) = "borrarHab(habilidadesHard.id)"><strong>X</strong></button>
                </div>
            </li>
        </div>
    </ul>
</div>

