<!---Esto es Info de Contacto y Redes Sociales--->
<div class="conteiner_contacto"> 
    
    <div class="redes_Sociales">
        <a [href]="contacto.instagram" target="_blank"><img class="redes_Sociales" src="\assets\logo_Instagram.jpg" alt="Logo de Instagram"></a>
        <p>{{contacto.instagram}}</p>
    </div>
    
    <div class="redes_Sociales">    
        <a [href]="" target="_blank"><img class="redes_Sociales" src="\assets\gmail_logo.png" alt="Logo de Gmail"></a>
        <p>{{contacto.e_mail}}</p>
    </div>
        
    <div class="redes_Sociales">
        <a href="https://wa.me?text=Hola,%20necesito%20contactarme." target="_blank"><img class="redes_Sociales" src="\assets\logo_WhatsApp.jpg" alt="Logo de WhatsApp"></a>
        <p>{{contacto.telefono}}</p>
    </div>
</div>
