<header class="conteiner_Encabezado"> <!---Esto es el Encabezado--->
        
    <!---Icono--->
    <img class="icono" src="\assets\logoargprog.png" alt="Logo de Argentina Programa">
        
    <!---Ir al FORMULARIO DE LOGUEO--->
    <button type="button" class="btn btn-outline-primary" *ngIf="!logueado" routerLink="/login"><strong>LOGIN</strong></button>
    <button type="button" class="btn btn-outline-secondary" (click)="cerrar()" *ngIf="logueado"><strong>CERRAR</strong></button>
      
</header>

