<div class="form_new"><!---Formulario para Agregar Nueva Educación--->
    
    <h2 style="margin-bottom: 25px">Agregar Nueva Capacitación</h2>
    <form (ngSubmit)="newEduc()" novalidate #f="ngForm">
        
        <label class="item_form-new" for="escuela">Institucion Educativa</label>
        <br>
        <input type="text" class="form-control" id="escuela" name="escuela" [(ngModel)]="escuela" placeholder="ingrese nombre de la Institucion Educativa" required>
        <br>
       
        <label class="item_form-new" for="logotipo">Logo de la Institucion</label>
        <br>
        <input type="text" class="form-control" id="logotipo" name="logotipo"  [(ngModel)]="logotipo" placeholder="ingrese imagen tipo (jpg. png.)">
        <br>

        <label class="item_form-new" for="sitioweb">Sitio Web</label>
        <br>
        <input type="text" class="form-control" id="sitioweb" name="sitioweb" [(ngModel)]="sitioweb" placeholder="ingrese URL de la pagina Web de la Institucion">
        <br>

        <label class="item_form-new" for="titulo">Titulo Obtenido</label>
        <br>
        <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="titulo" placeholder="ingrese el nombre del titulo obtenido" required>
        <br>

        <label class="item_form-new" for="periodo">Periodo</label>
        <br>
        <input type="text" class="form-control" id="periodo" name="periodo" [(ngModel)]="periodo" placeholder="ingrese periodo de cursado" required>
        <br>

     <div class="botones_login">
          <button class="btn btn-outline-primary">Agregar Nueva</button>
          <button type="button" class="btn btn-outline-secondary" routerLink="">Volver</button>
     </div>
    </form>

</div>